a{
	text-decoration: none;
	color: #fff;
}
.left-block{
	float: left;
}
.right-block{
	float: right;
}
.wrapper{
	min-width: 980px;
	max-width: 1400px;
	width: 100%;
	margin: auto;
	min-height: 100%;
	background-color: #212328;

}
.sidebar{
	float: left;
	width: 25%;
	background-color: #212328;
	height: 100%;
}
.logo{
	background-color: #f15656;
	text-align: center;
	width: 350px;
	height: 65px;
	display: table-cell;
	vertical-align: middle;
	color: #fff;

}
.main-content{
	float: right;
	width: 75%;
	background-color: #fff;
	position: relative;
}

.side-block{
	width: 225px;
	margin: auto;
	position: relative;
}
.nav{
	font-family: "GothamProBold";
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 10px;
		
		ul{
			z-index: 3;
			a{
				text-transform: uppercase;
				display: block;
				padding: 15px 0;
				-webkit-transition: 0.15s color;
			     -moz-transition: 0.15s color;
                 transition: 0.15s color;

					&:hover{
						color: #f15656;
					}
			}
			
		} 
		.second-level{
			position: absolute;
			left: 225px;
			top: -15px;
			background-color: #272b34;
			padding: 15px 0;
			width: 174px;
			display: none;
				
				a{
					padding: 15px 25px;
					text-transform: none;
					font-size: 16px;
				}
		}
		.third-level{
			position: absolute;
			top: 0px;
			left: 174px;
			background-color: #353941;
			padding: 15px 0;
			width: 132px;
			display: none;

				a{
					padding-right: 25px;
				}
		}
		.fourth-level{
			position: absolute;
			top: 0px;
			left: 132px;
			background-color: #40444e;
			padding: 15px 0;
			width: 310px;
			display: none;

				a{
					padding-right: 15px;

				}
		}	
}
.nav ul li:hover >a{
	color: #f15656;
}

.nav ul li:hover > ul{
	display: block;
}
.telephone{
	border-top: 1px solid #34363b;
	color: #fff;
	font-size: 16px;
	font-family: "GothamProBold";
	padding: 20px 0;

		p{
			position: relative;
			padding-left: 27px;

				&:before{
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: -1px;
					width: 17px;
					height: 17px;
					background: url(../images/tel.png)no-repeat;
				}
		}
}
.feedback{
	border-top: 1px solid #34363b;
	color: #fff;
	font-size: 14px;
	padding: 20px 0;
	font-family: "GothamProBold";
	text-transform: uppercase;

		p{
			position: relative;
			padding-left: 26px;

				&:before{
					content: "";
					display: block;
					position: absolute;
					left: 0;
					width: 19px;
					height: 13px;
					background: url(../images/feedback.png)no-repeat;
				}
		}
}
.side-form{
	border:1px solid #414141;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 5px;

		fieldset{
			width: 175px;
			margin: auto;
		}

		input[type="submit"]{
			width: 100%;
			cursor: pointer;
			background-color: #38393e;
			font-family: "GothamProBold";
			font-size: 14px;
			outline: 0;
			border:0;
			height: 35px;
			color: #9b9c9d;
	
		}
		input[type="text"]{
			background: transparent;
			outline: 0;
			border:0;
			color: #fff;
			width: 100%;
			height: 40px;
			font-size: 16px;
			border-bottom: 1px solid #34363b;
			font-family: "GothamProLight";
		}
		textarea{
			resize:none;
			width: 100%;
			outline: 0;
			border:0;
			font-family: "GothamProLight";
			font-size: 16px;
			color: #fff;
			background: transparent;
			height: 75px;
			padding-top: 15px;
		}
}
.top-block{
	height: 65px;
}
.top-block.grey{
	background-color: #f3f2f0;
}
.search-block{
	position: relative;
	float: left;
	width: 40%;
	margin-top: 14px;
	padding-left: 4%;

		input{
			outline: 0;
			border:1px solid #d4d4d4;
			-webki-border-radius: 2px 0 0 2px;
			-moz-border-radius: 2px 0 0 2px;
			border-radius: 2px 0 0 2px;
			padding-left: 30px;
			height: 35px;
			width: 100%;
			border-right: 0;
			font-family: "GothamProRegular";
			font-size: 14px;
			background-color: #f2f2f1;
		}
		button{
			-webki-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			outline: 0;
			border: 0;
			cursor: pointer;
			background-color: #19adcb;
			color: #fff;
			width: 90px;
			height: 35px;
			position: absolute;
			right: 0;
			top: 0;
			font-family: "GothamProBold";
			font-size: 14px;
		}
}
.search-icon{
	width: 15px;
	height: 15px;
	position: absolute;
	background: url(../images/search.png)no-repeat;
	left: 13%;
	top: 10px;
}
.top-column{
	width: 30%;
	float: left;
	height: 100%;
}

.gar{
	font-family: "GothamProBold";
	color: #19adcb;
	font-size: 14px;
	line-height: 16px;
	padding-top: 13px;

		img{
			display: block;
			float: left;
			margin-right: 4%;
		}
		div{
			width: 180px;
			margin: auto;
		}
}
.basket-icon{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/basket.png)no-repeat;
	margin-right: 4%;
}
.basket{
	font-family: "GothamProBold";
	color: #444852;
	font-size: 19px;
	display: block;
	padding-top: 22px;
	height: 100%;
	border-left: 1px solid #e1e1e0;
	padding-left: 10%;

		.amount{
			color: #a7adba;
			font-size: 20px;
		}
		.total-price{
			font-size: 20px;			
		}
}

.banner{
	width: 100%;
	position: relative;

		img{
			width: 100%;
			height: auto;
		}
}
.banner-text{
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	z-index: 2;
	padding: 0 20px;
	color: #fff;

		.title{
			font-family: "GothamProMedium";
			font-size: 45px;
			width: 966px;
            height: 160px;
            display: table-cell;
            vertical-align: middle;


				span{
					font-family: "GothamProLight";

				}
		}
}
.banner-col{
	float: left;
	width: 25%;
	font-family: "GothamProRegular";
	line-height: 1.5;

		.procent{
			font-size: 70px;
			margin-top: 30px;

				span{
					font-size: 45px;
					position: relative;
					top: -25px;
					left: -15px;
				}
		}
}
.banner-item{
	border-top: 1px solid #857c81;
	width: 225px;
	height: 305px;
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
}
.container{
	padding: 20px;
	padding-right: 0;
}
.col-30{
	float: left;
	width: 30%;
}
.col-25{
	float: left;
	width: 25%;
}
.col-50{
	float: left;
	width: 50%;
}
.col-45{
	float: left;
	width: 45%;
}
.help{
	margin-top: 10px;

		.col-25{
			font-family: "GothamProBold";
			color: #444852;
			font-size: 29px;
		}
		.h-text{
			font-size: 28px;
			font-family: "GothamProBold";
			color: #444852;
			line-height: 1.2;
		}
		.m-text{
			color: #7d8598;
			font-family: "GothamProRegular";
			font-size: 16px;
			line-height: 1.3;
			padding: 0 20px;
		}
		.more{
			margin-left: 20px;
			margin-top: 15px;
		}
}
.more{
	color: #19adcb;
	display: inline-block;
	font-family: "GothamProBold";


		span{
			font-family: "GothamProLight";
		}
}
.brands-item{
	width: 240px;
	height: 160px;
	display: table-cell;
	vertical-align: middle;
	border:1px solid #e8e9e9;
	text-align: center;
}

.brands-block{
	margin-bottom: 20px;
}
.news{
	margin-top: 50px;

		.title{
			float: left;
			color: #444852;
			font-size: 29px;
			font-family: "GothamProBold";
		}
		.show-all{
			display: inline-block;
			float: right;
			color: #d2d3d5;
			font-family: "GothamProMedium";
			font-size: 16px;
			position: relative;
			top: 7px;
			margin-right: 10px;

				span{
					font-family: "GothamProLight";
				}
		}
}
.news-list{
	margin-top: 30px;

		img{
			width: 100%;
			height: auto;
		}
		a{
			display: inline-block;
			color: #444852;
			line-height: 1.5;

				span{
					border-bottom: 1px solid #b1b2b5;
					
				}
				&:hover span{
					border-bottom: 1px solid transparent;
				}

		}
		.news-desc{
			margin-top: 20px;
			font-size: 16px;
			font-family: "GothamProBold";
		}
		.news-img,.news-desc{
			width: 93%;
		}
}
.email{
	margin-top: 70px;
	margin-bottom: 50px;
		
		p{
			font-size: 17px;
			color: #7d8598;
			margin-bottom: 5px;
			line-height: 1.3;
			font-family: "GothamProRegular";
		}
		.blue-p{
			color: #19adcb;
			font-family: "GothamProBold";
			font-size: 20px;
		}
}
.email-input{
	width: 100%;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;

		input{
			width: 96%;
			height: 79px;
			padding-left: 20px;
			font-size: 26px;
			font-family: "GothamProMedium";
			color: #7d8598;
			border:1px solid #cbced6;
			outline: 0;
			-webki-border-radius: 11px;
			-moz-border-radius: 11px;
			border-radius: 11px;
		}
		button{
			width: 106px;
			height: 79px;
			background: url(../images/ok-large.png)no-repeat;
			outline: 0;
			border:0;
			position: absolute;
			right: 20px;
			top: 0;
			cursor: pointer;
		}
}

.reasons{
	background-color: #f3f2f0;
	padding: 80px 30px;
	padding-bottom: 10px;

		h2{
			text-align: center;
			font-family: "GothamProMedium";
			color: #444852;
			font-size: 48px;
		}
}
.reasons-img{
	width: 80px;
	height: 80px;
	-webki-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #f15656;
	margin: auto;

		.img-cell{
			width: 80px;
			height: 80px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
}
.reasons-list{
	margin-top: 90px;
}

.reasons-block{
	float: left;
	width: 25%;
	text-align: center;
	margin-bottom: 65px;

}

.reasons-desc{
	margin-top: 35px;
	line-height: 1.2;
	color: #444852;
	font-size: 18px;
	font-family: "GothamProBold";
}

.reasons-list .reasons-block:nth-child(5){
	margin-left: 110px;
}

footer{
	padding: 30px;
	padding-top: 60px;
}
.copyright{
	color: #444852;
	font-family: "GothamProBold";
	font-size: 16px;
}
.foot-menu{
	font-family: "GothamProBold";

		a{
			color: #444852;

				&:hover{
					text-decoration: underline;
				}
		}
		li{
			margin-bottom: 18px;
		}
}

.foot-cont{
	color: #444852;
	margin-bottom: 35px;
	line-height: 1.7;

		p{
			font-size: 16px;
			font-family: "GothamProBold";
		}
		span{
			font-family: "GothamProLight";
			font-size: 22px;
		}
}
.top-foot{
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}
.foot-text{
	color: #444852;
	opacity: 0.4;
	font-family: "GothamProRegular";
	line-height: 1.5;
	padding-top: 40px;

		.title{
			font-family: "GothamProBold";
		}
		p{
			margin-top: 30px;
		}
}
.foot-basket{
	position: absolute;
	left: 0;
	bottom: 40px;
}
.back-article{
	font-family: "GothamProRegular";
	font-size: 16px;

		a{
			color: #444852;
		}
}
.article{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
}

.article-container{
	margin-top: 40px;

		.left-block{
			width: 36.5%;
			text-align: center;
			color: #444852;
			font-size: 16px;
			font-family: "GothamProRegular";
			line-height: 1.3;
		}
		.article-img{
			width: 100%;

				img{
					width: 100%;
				}
		}
		.title{
			margin-top: 20px;
		}
		.right-block{
			width:59.5%;

				header{
					color: #444852;
					font-size: 40px;
					font-family: "GothamProBold";

				}
		}
		.article-text{
			padding-top: 45px;
			color: #444852;
			font-family: "GothamProRegular";
			line-height: 1.4;

				p{
					margin-bottom: 35px;
				}
		}
}
.article-soc{
  position: relative;
  float: right;
  right: 50%;
  margin-top: 20px;

  	ul{
  	position: relative;
	  float: left;
	  left: 50%;
		
		li{
			float: left;
			margin-right: 10px;
		}
  	}
}
.next-page{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	font-family: "GothamProRegular";
	padding-top: 25px;
	padding-bottom: 150px;

		a{
			color: #c3c3c6;

				&:first-child{
					float: left;
				}
				&:last-child{
					float: right;
				}
		}
}
.article-block{
	border-top: 1px solid #e0e0e0;
	padding: 25px 0;

}
.art-list-img{
	float: left;
	width: 23.5%;

		img{
			width: 100%;
		}
}
.article-list{
	padding-top: 35px;
	padding-left: 30px;
	padding-right: 30px;

		h3{
			color: #444852;
			font-family: "GothamProBold";
			font-size: 40px;
			margin-bottom: 45px;
		}
}
.article-desc{
	float: right;
	width: 72%;
	padding-right: 9%;

		header{
			color: #444852;
			font-family: "GothamProBold";
			font-size: 29px;
			line-height: 1.2;
			padding-top: 16px;
		}
		p{
			color: #7d8598;
			font-family: "GothamProRegular";
			font-size: 16px;
			margin-top: 16px;
			line-height: 1.5;
		}
}
.pagination{
	text-align: center;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	display: table-cell;
	vertical-align: middle;
	height: 185px;
	width: 970px;
}

.item{
	margin-top: 30px;
	padding-bottom: 270px;
	border-bottom: 1px solid #e0e0e0;

		.left-block{
			width: 37%;
		}
		.right-block{
			width: 59%;
		}
		h3{
			color: #444852;
			font-size: 40px;
			font-family: "GothamProBold";
		}

}
.item-img{
	border:1px solid #e0e0e0;
	width: 350px;
	height: 350px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;

		img{
			max-width: 100%;
		}
}
.adver{
	width: 100%;
	height: 79px;
	text-align: center;
	margin-top: 25px;
	line-height: 1.4;
	position: relative;
}
.adver-cell{
	width: 350px;
	height: 79px;
	display: table-cell;
	vertical-align: middle;
	color: #f15656;
	font-family: "GothamProRegular";
	position: relative;
	z-index: 2;
}
.title-item{
	margin-top: 25px;
	text-align: center;
	line-height: 1.4;
	color: #444852;
	font-family: "GothamProRegular";
}
.item-var{
	margin-top: 35px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 25px 0;
		
		.price{
			float: left;
			color: #444852;
			font-size: 29px;
			font-family: "GothamProMedium";
			padding-top: 3px;
		}
		.prev-price{
			color: #f15656;
			font-size: 16px;
			text-decoration: line-through;
			position: relative;
			top: -10px;
			padding-right: 15px;
		}
		.order-click{
			float: right;
			margin-right: 22px;
			position: relative;
			top:8px;

				a{
					display: inline-block;
					color: #19adcb;
					border-bottom: 1px dashed #19adcb;
					font-family: "GothamProBold";
					padding-bottom: 3px;
				}
		}
		.basket-link{
			float: right;

				a{
					display: table-cell;
					vertical-align: middle;
					width: 120px;
					height: 35px;
					background-color: #19adcb;
					text-align: center;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					font-family: "GothamProBold";
				}
		}	
}

.print{
	padding: 36px 0;
	border-bottom: 1px solid #e0e0e0;
	color: #444852;
	line-height: 1.4;

		header{
			font-family: "GothamProBold";
			margin-bottom: 18px;
		}
		p{
			font-family: "GothamProRegular";
		}
}
.item-info{
	padding: 36px 0;
	border-bottom: 1px solid #e0e0e0;
	color: #444852;
	font-family: "GothamProRegular";

		ul{
			line-height: 1.8;

				span{
					font-family: "GothamProBold";

				}
		}
}
.item-link{
	padding: 36px 0;
	font-family: "GothamProBold";
	border-bottom: 1px solid #e0e0e0;

		a{
			color: #19adcb;
			display: inline-block;
			border-bottom: 1px dashed #19adcb;
			padding-bottom: 3px;
		}
		li{
			margin-bottom: 12px;
		}
}
.other-text{
	padding: 36px 0;
	border-bottom: 1px solid #e0e0e0;
	color: #444852;

		p{
			font-family: "GothamProRegular";

				&:first-child{
					font-size: 20px;
					font-family: "GothamProBold";
					display: inline-block;
					border-bottom: 1px solid #b1b2b5;
					margin-bottom: 10px;

						span{
							color: #f15656;
						}
				}
		}
}
.adver-img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 97%;
	height: 79px;
}
.main-input {
  margin: 25px 0;
  display: table;
  width: 100%;
  position: relative;
  table-layout: fixed;

  	p{
	  font-size: 16px;
	  display: table-cell;
	  margin: 0;
	  width: 260px;
	  color: #444852;
	  line-height: normal;
	  font-family: "GothamProBold";
	}
	.input-container {
	  vertical-align: middle;
	  overflow: hidden;
	  width: 100%;
	}
  	input{
  		  width: 426px;
		  height: 50px;
		  font-size: 16px;
		  outline: none;
		  border: 1px solid transparent;
		  padding: 0 10px;
		  background: #f3f2f0;
		  -webkit-border-radius: 5px;
		  -moz-border-radius: 5px;
		  border-radius: 5px;
		  font-family: "GothamProRegular";
		  color: #444852;
		  -webkit-transition: 0.2s border ease-in-out;	
		  -moz-transition: 0.2s border ease-in-out;	
		  transition: 0.2s border ease-in-out;	

		  	&:focus{
		  		border:1px solid #999;
		  	}
  	}
  	.small-input{
  		width: 220px;
  	}
  	textarea{
  		  width: 426px;
		  font-size: 16px;
		  resize:none;
		  outline: none;
		  border: 1px solid transparent;
		  padding: 0 10px;
		  padding-top: 10px;
		  height: 100px;
		  background: #f3f2f0;
		  -webkit-border-radius: 5px;
		  -moz-border-radius: 5px;
		  border-radius: 5px;
		  font-family: "GothamProRegular";
		  color: #444852;
		  -webkit-transition: 0.2s border ease-in-out;	
		  -moz-transition: 0.2s border ease-in-out;	
		  transition: 0.2s border ease-in-out;

		  	&:focus{
		  		border:1px solid #999;
		  	}
  	}
}
.main-textarea p{
	vertical-align: top;
	padding-top: 12px;
}

.radio {
	display: inline-block;
	background: url(../images/radio-a.png)no-repeat;
	background-position: 1px;
	color: #444852;
	cursor: pointer;
	padding: 5px 0;
	margin-bottom: 15px;
	text-indent: 30px;
	font-size: 16px;
	font-family: "GothamProRegular";
}
.radio.active {
	background: url(../images/radio.png)no-repeat;
	background-position: 1px;
}
.select a{
	color: #444852 !important;
}
/*	=	Select */
.slct {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f3f2f0;
	width: 426px;
	height: 50px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
	color: #444852 !important;
	font-family: "GothamProRegular";
	padding-top: 16px;
	padding-left: 20px;
	background-image:url(../images/drop.png);
	background-repeat: no-repeat;
	background-position: 95%;
}

.drop {
	margin: 0;
	padding: 0;
	width: 426px;
	border-top: none;
	display: none;
	position: absolute;
	background: #f3f2f0;
	z-index: 2;

		a{
			color:#444852 !important;
		}
}
.slct.active {
	-webki-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.drop li {
	list-style: none;
	border-top: 1px solid #e8e8e8;
	cursor: pointer;
	display: block;
	padding: 9px 15px 9px 25px;
	font-family: "GothamProRegular";

}
.drop li:hover {
	background-color: #e8e8e8;
	color: #222;
}

.order-company{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 45px 0;
	margin-top: 40px;
}
.checkout{
	padding-top: 50px;
	padding-bottom: 100px;
	border-bottom: 1px solid #e0e0e0;
	font-family: "GothamProBold";
	font-size: 20px;

		a{
			display: table-cell;
			vertical-align: middle;
			width: 265px;
			height: 50px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			text-align: center;
			background-color: #19adcb;
		}
}
.main-h3{
	color: #444852;
	font-family: "GothamProBold";
	font-size: 40px;

}
.face-var{
	font-size: 24px;
	font-family: "GothamProBold";
	margin-bottom: 40px;

		li{
			float: left;
			margin-right: 30px;
			cursor: pointer;

				span{
					color: #b1b6c1;
					border-bottom: 1px dashed #b1b6c1;
					-webki-transition: 0.2s all;
					-moz-transition: 0.2s all;
					transition: 0.2s all;

						&:hover,&.active{
							color: #444852;
							border-bottom: 1px dashed transparent;
						}
				}
		}
}
.individual{
	display: none;
}
.basket-img{
	width: 105px;
	height: 105px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border:1px solid #e0e0e0;
}
.printer-img{
	width: 180px;
	height: 180px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border:1px solid #e0e0e0;
}
.basket-table td{
	vertical-align: middle;
}
.amount-block{
	
	float: right;

		input{
			font-family: "GothamProBold";
			color: #19adcb;
			border:1px solid #19adcb;
			outline: 0;
			text-align: center;
			font-size: 16px;
			width: 50px;
			height: 35px;
			display: block;
			float: left;
		}
		.minus,.plus{
			display: block;
			color: #19adcb;
			height: 35px;
			text-align: center;
			border:1px solid #19adcb;
			width: 35px;
			padding-top: 8px;
			float: left;
		}
		.minus{
			border-right: 0;
			-webkit-border-radius: 5px 0 0 5px;
			-moz-border-radius: 5px 0 0 5px;
			border-radius: 5px 0 0 5px;
		}
		.plus{
			border-left: 0;
			-webkit-border-radius: 0 5px 5px 0;
			-moz-border-radius: 0 5px 5px 0;
			border-radius: 0 5px 5px 0;
		}
}
.basket-table{
	width: 100%;
	margin-top: 40px;

		tr td:first-child{
			width: 15%;
		}
		tr td:last-child{
			text-align: right;
		}
		td{
			border-top: 1px solid #e0e0e0;
			padding: 22px 0;
		}
		h4{
			color: #444852;
			font-family: "GothamProBold";
			font-size: 24px;
			margin-bottom: 15px;
		}
		.p1{
			color: #7d8598;
			font-family: "GothamProBold";
			font-size: 16px;
			margin-bottom: 8px;
		}
		.p2{
			color: #7d8598;
			font-size: 16px;
			font-family: "GothamProRegular";
			line-height: 1.5;
		}
		.price-today{
			color: #444852;
			font-size: 24px;
			font-family: "GothamProRegular";
		}
		.prev-price{
			color: #f15656;
			text-decoration: line-through;
			font-family: "GothamProRegular";
			font-size: 14px;
			position: relative;
			top: -8px;
			padding-right: 14px;
		}
		.sale-tr td{
			text-align: left !important;
			color: #f15656;
			font-size: 24px;
			font-family: "GothamProRegular";
			padding: 14px 0 !important;
				
				b{
					font-family: "GothamProBold";
				}
		}
		.price-null{
			color: #f15656;
		}
		.td-null{
			vertical-align: top !important;
			padding-top: 40px;
		}
		.var-delivery{
			color: #444852;
			font-size: 16px;
			font-family: "GothamProRegular";
			text-align: left;
			line-height: 1.5;

				b{
					font-family: "GothamProBold";
				}
				li{
					margin-bottom: 30px;
				}
		}
}
.printer-table tr td:first-child{
	width: 22%;
}
.printer-table td{
	vertical-align: top;
}
.printer-table h4{
	margin-top: 12px;
	margin-bottom: 30px;
}
.printer-table .p1{
	margin-bottom: 14px;
}
.printer-table tr td:last-child{
	width: 30%;
}
.printer-table .amount-block{
	margin-top: 30px;
}
.printer-table .amount-block .minus,
.printer-table .amount-block .plus{
	color: #fff;
	background-color: #18a3bf;
}

.printer-table .amount-block input{
	color: #fff;
	background-color: #19adcb;
}
.printer-table + .pagination{
	border-top: 0;
	height: 130px;
}





.order-data{
	
	text-align: center !important;
	vertical-align: top;

	ul{
		width: 370px;
		float: right;

			li{
			border-bottom: 1px solid #e9e9e9;
			padding:10px 0;
			color: #444852;

				span:first-child{
					font-family: "GothamProBold";
					float: left;
				}
				span:last-child{
					float: right;
					font-family: "GothamProRegular";
				}
		}
	}
		
}
.specify{
	display: block;
	width: 370px;
	height: 50px;
	background-color: #19adcb;
	font-family: "GothamProBold";
	font-size: 20px;
	text-align: center;
	padding-top: 14px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-top: 30px;
	margin-bottom: 30px;
	float: right;
}
.one-click{
	color: #19adcb;
	font-size: 20px;
	font-family: "GothamProBold";
	border-bottom: 1px dashed #19adcb;
	padding-bottom: 2px;
	position: relative;
	left: 25px;
}
.data-tr td{
	vertical-align: top !important;
	padding-top: 50px;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 200px;
}
.ar-img{
	width: 105px;
	text-align: center;
}
.main-p{
	color: #444852;
	font-size: 16px;
	font-family: "GothamProBold";
	margin-bottom: 5px;
}
.print-price{
	font-size: 28px;
	font-family: "GothamProMedium";
	color: #444852;
	display: inline-block;
	padding-top: 12px;
}
.add-basket{
	display: block;
	width: 120px;
	height: 35px;
	background-color: #19adcb;
	font-family: "GothamProBold";
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	padding-top: 8px;
	float: right;
	margin-top: 30px;
}
.not-available{
	color: #444852;
	font-size: 20px;
	opacity: 0.3;
	font-family: "GothamProRegular";
	display: inline-block;
	padding-top: 12px;
}

.main-block{
	border-top: 1px solid #e0e0e0;
	margin-top: 40px;
	padding-top: 35px;
	font-family: "GothamProRegular";
	color: #444852;
		font-size: 16px;

		h2{
			color: #444852;
			font-size: 28px;
			font-family: "GothamProBold";
		}
		p{
			margin-top: 30px;
			line-height: 1.5;
		}
		b{
			font-family: "GothamProBold";
		}
		ul{
			margin-top: 30px;
			line-height: 1.5;
			list-style: disc;
			margin-left: 18px;

				li{
					margin-bottom: 5px;
				}
		}
		a{
			color: #19adcb;
			border-bottom: 1px solid #a7d8e6;
		}
}
.main-text{
	width: 60%;
}
.photo-block{
	position: relative;
	margin-top: 40px;
}
.photo-img{
	float: left;
	width: 640px;
	height: 370px;
}
.signature{
	float: left;
	width: 140px;
	margin-left: 25px;
	font-size: 14px;
	opacity: 0.5;
	line-height: 1.3;
	padding-top: 5px;
}
.save-file{
	margin-top: 45px;
	padding-bottom: 70px;
	border-bottom: 1px solid #e0e0e0;

		button{
			outline: 0;
			border:0;
			background-color: transparent;
			cursor: pointer;
			color: #19adcb;
			font-family: "GothamProBold";
			border-bottom: 1px solid #a7d8e6;
			font-size: 16px;
		}
}
.select a.slct-other{
	display: inline-block;
	width: auto;
	color: #19adcb !important;
	height: auto;
	background-color: transparent;
	background-image: url(../images/blue-drop.png);
	background-position: 100%;
	padding-top: 4px;
    padding-left: 5px;
    padding-right: 13px;
    padding-bottom: 5px;

		+ .drop{
			width: 240px;
		}
}
.filter{
	font-family: "GothamProRegular";
}
.filter-table{
	width: 100%;
	color: #444852;

		.slct-td{
			width: 30%;
		}
		
		.select{
			position: relative;
			top: 7px;
		}
}
.var-fil{
	cursor: pointer;
	color: #a7adba;
	display: inline-block;
	margin-left: 15px;

		&:hover{
			color: #19adcb;
		}
}
.var-fil.active{
	color: #19adcb;
}
.by-price{
	background: url(../images/cost.png)no-repeat;
	background-position: 100% 5px;
	padding-right: 20px;
}
.form-mask{
	position: absolute;
	background: rgba(243, 242, 240, 0.8);
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.modal{
	
	width: 480px;
	position: absolute;
	top: 15%;
	left: 50%;
	margin-left: -240px;
	z-index: 3;
	background-color: #fff;
	padding: 45px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: none;

	header{
		text-align: center;
		font-size: 28px;
		color: #444852;
		font-family: "GothamProBold";
		padding-bottom: 20px;
	}
	form{
		width: 370px;
		margin: auto;
	}

	 input[type="text"] {
	  width: 100%;
	  height: 50px;
	  font-size: 20px;
	  outline: none;
	  border: 1px solid transparent;
	  padding: 0 10px;
	  background: #f3f2f0;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  font-family: "GothamProRegular";
	  color: #444852;
	  -webkit-transition: 0.2s border ease-in-out;
	  -moz-transition: 0.2s border ease-in-out;
	  transition: 0.2s border ease-in-out;
	  margin-top: 20px;
	  text-align: center;

	  	&:focus{
		  		border:1px solid #999;
		  	}
	}
	 input[type="submit"]{
	 	width: 100%;
	  height: 50px;
	  font-size: 20px;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	   margin-top: 20px;
	   color: #fff;
	   font-family: "GothamProBold";
	   cursor: pointer;
	   border:0;
	   background-color: #19adcb;
	 }
}
.click-modal{
	cursor: pointer;
}