@media(max-width: 999px){
	.nav,
	.feedback,
	.search-block input,
	.search-block button,
	.gar{
		font-size: 10px;
	}
	.main-h3{
  		font-size: 28.5px;
  	}
	.search-block button{
		width: 64px;
	}
	.nav .second-level a{
		font-size: 11px;
		padding: 10px 20px;
	}
	.telephone{
		font-size: 11px;
	}
	.telephone p:before{
		width: 12px;
		height: 12px;
		background-size: cover;
	}
	.telephone p,
	.feedback p{
		padding-left: 20px;
	}
	.feedback p:before{
		width: 13.5px;
		height: 9.5px;
		background-size: cover;
	}
	.gar div{
		width: 129px;
		padding-top: 3px;
	}
	.gar img{
		width: 25.5px;
		height: 25.5px;
		position: relative;
  		top: 2px;
	}
	.side-form input[type="text"]{
		font-size: 11px;
		height: 30px;
	}
	.side-form textarea{
		font-size: 11px;
		height: 55px;
	}
	.side-form input[type="submit"]{
		font-size: 10px;
		height: 25px;
	}
	.basket{
		font-size: 14px;
	}
	.basket-icon{
		width: 14.5px;
		height: 14.5px;
		background-size: cover;
	}
	.banner-text .title{
		font-size: 32.5px;
		width: 690px;
		height: 118.5px;
	}
	.banner-item{
		font-size: 13px;
		width: 160px;
		height: 210px;
	}
	.banner-col .procent{
		font-size: 50px;
	}
	.banner-col .procent span{
		font-size: 32px;
	}
	.help .h-text{
		font-size: 20.5px;
	}
	.help .m-text,
	.help .more{
		font-size: 11.5px;
	}
	.brands-item{
		width: 174px;
		height: 116px;
	}
	.news .title{
		font-size: 21px;
	}
	.news .show-all,
	.news-list .news-desc{
		font-size: 11.5px;
	}
	.email .blue-p{
		font-size: 14.5px;
	}
	.email p{
		font-size: 12px;
	}
	.email-input input{
		font-size: 18.5px;
		height: 56.5px;
	}
	.email-input button{
		height: 56.5px;
		width: 76px;
		background-size: cover;
	}
	.reasons h2{
		font-size: 34.5px;
	}
	.reasons-list{
		margin-top: 65px;
	}
	.reasons-block{
		margin-bottom: 48px;
	}
	.reasons-img,
	.reasons-img .img-cell{
		width: 58px;
		height: 58px;
	}
	.reasons-desc{
		font-size: 13px;
		margin-top: 24.5px;
	}
	.reasons{
		padding: 58px 21px;
		padding-bottom: 60px;
	}
	.copyright,
	.foot-menu,
	.foot-cont p{
		font-size: 11.5px;
	}
	.foot-cont{
		margin-bottom: 25px;
	}
	.foot-cont span{
		font-size: 16px;
	}
	.foot-basket{
		bottom: 20px;
	}
	.foot-basket img{
		width: 38.5px;
		height: 38.5px;
	}
	.foot-text{
		padding-top: 28px;
		font-size: 11.5px;
	}
	.foot-text p{
		margin-top: 21px;
	}
	
	.container{
		padding: 14px;
		padding-right: 0;
	}
	.banner-text{
		padding: 0 14px;
	}
/*********article ************/

	.article{
		padding-left: 21px;
		padding-right: 21px;
		padding-top: 15px;
	}
	.article-container{
		margin-top: 28.5px;
	}
	.basket .total-price,
	.basket .amount{
		font-size: 14.5px;
	}
	.back-article,
	.article-container .title{
		font-size: 11.5px;
	}
	.article-soc img{
		width: 27.5px;
		height: 28.5px;
	}
	.article-container .right-block header{
		font-size: 28.5px;
	}
	.article-container .article-text{
		font-size: 11.5px;
		padding-top: 32.5px;
	}
	.article-container .article-text p{
		font-size: 11.5px;
		margin-bottom: 25px;
	}
	.next-page{
		font-size: 11.5px;
		padding-top: 19px;
		padding-bottom: 108px;
	}

/***********  articles *************/
	.article-list h3 {
		font-size: 28.5px;
	}
  .article-block {
	    padding: 18px 0;
	}
  .article-desc header{
  		font-size: 21px;
  		padding-top: 11.5px;
    }
  .article-desc p{
  		font-size: 11.5px;
     }
  .pagination{
  		height: 132.5px;
    }
    .article-list{
    	padding-top: 25px;
    	padding-left: 21px;
    	padding-right: 21px;
    }
    .article-list h3{
    	margin-bottom: 32.5px;
    }
/***********  item  *************/
	.item-img {
    width: 250px;
    height: 250px;
  }
  .adver,
  .title-item {
    font-size: 11.5px;
    margin-top: 19px;
  }
  .item {
    margin-top: 21px;
    padding-bottom: 196.5px;
  }
  .item h3 {
    font-size: 28.5px;
  }
  .item-var {
    margin-top: 25px;
    padding: 19px 0;
  }
  .item-var .price{
  	font-size: 21px;
  	padding-top: 2px;
  }
  .item-var .prev-price{
  	font-size: 11.5px;
  	padding-right: 11.5px;
  	top: -7px;
  }
  .item-var .basket-link a{
  	font-size: 11.5px;
  	width: 86px;
  	height: 25px;
  }
  .item-var .order-click{
  	font-size: 11.5px;
  	margin-right: 16px;
  	top: 6px;
  }
  .print,
  .item-info,
  .item-link,
  .other-text{
  	padding: 26px 0;
  	font-size: 11.5px;
  }
  .print header{
  	margin-bottom: 13px;
  }
  .other-text p:first-child{
  	margin-bottom: 7px;
  	font-size: 14px;
  }
  .adver-img,
  .adver,
  .adver-cell{
  	height: 56.5px;
  }
  
  /***********  order company  *************/

  .order-company{
		margin-top: 28.5px;
		padding: 32.5px 0;
	}
	.face-var{
		margin-bottom: 28.5px;
		font-size: 17px;
	}
	.face-var li{
		margin-right: 21px;
	}
	.main-input{
		margin: 19px 0;
	}
	.main-input p{
		font-size: 11.5px;
		width: 187px;
	}
	.main-input input{
		font-size: 11.5px;
		padding: 0 7px;
		width: 305px;
		height: 36px;
	}
	.main-input .small-input{
		width: 158px;
	}
	.slct{
		width: 305px;
		height: 36px;
		padding-top: 11.5px;
  		padding-left: 14.5px;
  		font-size: 11.5px;
	}
	.drop{
		width: 305px;
	}
		.drop li{
			padding: 6.5px 11px 6.5px 19px;
			font-size: 11.5px;
		}
	.radio{
		font-size: 11.5px;
		text-indent: 21px;
		margin-bottom: 10.5px;
		padding: 4px 0;
	}
	.main-input textarea{
		width: 305px;
		font-size: 11.5px;
		padding: 0 7px;
		padding-top: 7px;
		height: 71.5px;
	}
	.main-textarea p{
		padding-top: 9px;
	}
	.checkout{
		padding-top: 36px;
		padding-bottom: 71.5px;
		font-size: 14px;
	}
	.checkout a{
		width: 189px;
		height: 36px;
	}
	.radio{
		background: url(../images/s-radio-a.png)no-repeat;
		background-position: 1px;
	}
	.radio.active {
	background: url(../images/s-radio.png)no-repeat;
	background-position: 1px;
}	
	/***********  basket  *************/
	.basket-table td{
        padding: 16px 0;
    }
    .basket-img{
        width: 75px;
        height: 75px;
    }
        .basket-img img{
            width: 93%;
        }
    .basket-table h4{
        font-size: 17px;
        margin-bottom: 11.5px;
    }
    .basket-table .p1{
        font-size: 11.5px;
        margin-bottom: 6px;
    }
    .basket-table .p2{
        font-size: 11.5px;
    }
    .amount-block .minus, 
    .amount-block .plus{
        width: 25px;
        height: 25px;
        padding-top: 5.5px;
        font-size: 11.5px;
    }
    .amount-block input{
        width: 36px;
        height: 25px;
        font-size: 11.5px;
    }
    .basket-table .price-today{
        font-size: 17px;
    }
    .basket-table .prev-price{
        font-size: 10px;
        padding-right: 10px;
        top: -5.5px;
    }
    .basket-table .sale-tr td{
        font-size: 17px;
        padding: 10px 0 !important;
    }
    .basket-table .td-null{
        padding-top: 28.5px;
    }
    .ar-img{
        width: 75px;
    }
    .basket-table .var-delivery{
        font-size: 11.5px;
    }
    .basket-table .var-delivery li{
        margin-bottom: 21px;
    }
    .data-tr td{
        padding-top: 36px;
        padding-bottom: 143.5px;
    }
    .order-data ul{
        width: 265px;
    }
    .order-data ul li{
        font-size: 11.5px;
        padding: 7px 0;
    }
    .specify{
        width: 265px;
        height: 36px;
        font-size: 14px;
        padding-top: 10px;
        margin-top: 21px;
        margin-bottom: 21px;
    }
    .one-click{
        font-size: 14px;
        left: 17.5px;
    }
	/***********  printer  *************/
	.printer-img{
        width: 128.5px;
        height: 128.5px;
    }
    .basket-table h4{
        margin-bottom: 21px;
        margin-top: 8.8px;
    }
    .basket-table .p1{
        margin-bottom: 10px;
    }
    .print-price{
        font-size: 20px;
        padding-top: 8.8px;
    }
    .add-basket{
        width: 86px;
        height: 25.5px;
        padding-top: 5.5px;
        margin-top: 21px;
        font-size: 11.5px;
    }
    .not-available{
        font-size: 14px;
        padding-top: 9px;
    }
    .printer-table .amount-block{
        margin-top: 21px;
    }
    .printer-table + .pagination{
        height: 93px;
    }
	/***********  styles  *************/
	.main-block{
        margin-top: 28.5px;
        padding-top: 25.5px;
        font-size: 11.5px;
    }
    .main-block h2{
        font-size: 20px;
    }
    .main-block p{
        margin-top: 21px;
        font-size: 11.5px;
    }
    .main-block ul{
        margin-top: 21px;
        margin-left: 13px;
        font-size: 11.5px;
    }
    .photo-block{
        margin-top: 28.5px;
    }
    .photo-img,
    .photo-img img{
        width: 458px;
        height: 265px;
    }
    .signature{
        width: 100px;
        margin-left: 19px;
        font-size: 10px;
        padding-top: 3.5px;
    }
    .save-file{
        margin-top: 32.5px;
        padding-bottom: 50px;
    }
    .save-file button{
        font-size: 11.5px;
    }
    /***********  catalog  *************/
    .filter-table{
        font-size: 11.5px;
    }
    .select a.slct-other + .drop{
        width: 187px;
    }
    /***********  modal  *************/
    .modal{
        width: 345px;
        margin-left: -172.5px;
        padding: 32.5px;
   }
   .modal header{
       font-size: 20px;
       padding-bottom: 15px;
   }
   .modal form{
      width: 265px;
   }
   .modal input[type="text"]{
      font-size: 15px;
      height: 36px;
      padding: 0 7px;
      margin-top: 15px;
   }
   .modal input[type="submit"]{
      font-size: 15px;
      height: 36px;
      margin-top: 15px;
   }
}