@media (max-width: 1399px) {
  .logo img {
    width: 70%;
  }
  .main-h3{
  	font-size: 2.85vw;
  }
  .nav,
  .feedback,
  .search-block input,
  .search-block button,
  .gar {
    font-size: 1vw;
  }
  .search-block button {
    width: 6.45vw;
  }
  .nav .second-level a {
    font-size: 1.1vw;
    padding: 1vw 2vw;
  }
  .telephone {
    font-size: 1.1vw;
  }
  .telephone p:before {
    width: 1.22vw;
    height: 1.22vw;
    background-size: cover;
  }
  .telephone p,
  .feedback p {
    padding-left: 2vw;
  }
  .feedback p:before {
    width: 1.366vw;
    height: 0.935vw;
    background-size: cover;
  }
  .gar div {
    width: 12.89vw;
  }
  .gar img {
    width: 2.55vw;
    height: 2.55vw;
  }
  .side-form input[type="text"] {
    font-size: 1.1vw;
    height: 3vw;
  }
  .side-form textarea {
    font-size: 1.1vw;
    height: 5.5vw;
  }
  .side-form input[type="submit"] {
    font-size: 1vw;
    height: 2.5vw;
  }
  .basket {
    font-size: 1.4vw;
  }
  .basket-icon {
    width: 1.45vw;
    height: 1.45vw;
    background-size: cover;
  }
  .banner-text .title {
    font-size: 3.25vw;
    width: 69vw;
    height: 11.85vw;
  }
  .banner-item {
    font-size: 1.3vw;
    width: 16vw;
    height: 21vw;
  }
  .banner-col .procent {
    font-size: 5.05vw;
  }
  .banner-col .procent span {
    font-size: 3.25vw;
  }
  .help .h-text {
    font-size: 2.05vw;
  }
  .help .m-text,
  .help .more {
    font-size: 1.15vw;
  }
  .brands-item {
    width: 17.4vw;
    height: 11.6vw;
  }
  .brands-item img {
    width: 45%;
  }
  .brands-item img.hp {
    width: 31%;
  }
  .news .title {
    font-size: 2.1vw;
  }
  .news .show-all,
  .news-list .news-desc {
    font-size: 1.15vw;
  }
  .email .blue-p {
    font-size: 1.45vw;
  }
  .email p {
    font-size: 1.2vw;
  }
  .email-input input {
    font-size: 1.85vw;
    height: 5.65vw;
  }
  .email-input button {
    height: 5.65vw;
    width: 7.6vw;
    background-size: cover;
  }
  .reasons h2 {
    font-size: 3.45vw;
  }
  .reasons-list {
    margin-top: 6.5vw;
  }
  .reasons-block {
    margin-bottom: 4.8vw;
  }
  .reasons-img,
  .reasons-img .img-cell {
    width: 5.8vw;
    height: 5.8vw;
  }
  .reasons-img img {
    width: 50%;
  }
  .reasons-desc {
    font-size: 1.3vw;
    margin-top: 2.45vw;
  }
  .reasons {
    padding: 5.8vw 2.1vw;
    padding-bottom: 6vw;
  }
  .copyright,
  .foot-menu,
  .foot-cont p {
    font-size: 1.15vw;
  }
  .foot-cont {
    margin-bottom: 2.5vw;
  }
  .foot-cont span {
    font-size: 1.6vw;
  }
  .foot-basket {
    bottom: 2.8vw;
  }
  .foot-basket img {
    width: 3.85vw;
    height: 3.85vw;
  }
  .foot-text {
    padding-top: 2.8vw;
    font-size: 1.15vw;
  }
  .foot-text p {
    margin-top: 2.1vw;
  }
  .container {
    padding: 1.4vw;
    padding-right: 0;
  }
  /*********  article *************/
  
  .article {
    padding-left: 2.1vw;
    padding-right: 2.1vw;
    padding-top: 1.5vw;
  }
  .article-container {
    margin-top: 2.85vw;
  }
  .basket .total-price,
  .basket .amount {
    font-size: 1.45vw;
  }
  .back-article,
  .article-container .title {
    font-size: 1.15vw;
  }
  .article-soc img {
    width: 2.77vw;
    height: 2.85vw;
  }
  .article-container .right-block header {
    font-size: 2.85vw;
  }
  .article-container .article-text {
    font-size: 1.15vw;
    padding-top: 3.25vw;
  }
  .article-container .article-text p {
    font-size: 1.15vw;
    margin-bottom: 2.5vw;
  }
  .next-page {
    font-size: 1.15vw;
    padding-top: 1.9vw;
    padding-bottom: 10.8vw;
  }
  /***********  articles *************/
  
  .article-list h3 {
    font-size: 2.85vw;
  }
  .article-block {
    padding: 1.8vw 0;
  }
  .article-desc header {
    font-size: 2.1vw;
  }
  .article-desc p {
    font-size: 1.15vw;
  }
  .pagination {
    height: 13.25vw;
  }
  .article-list {
    padding-top: 2.5vw;
    padding-left: 2.1vw;
    padding-right: 2.1vw;
  }
  .article-list h3 {
    margin-bottom: 3.25vw;
  }
  /***********  item *************/
  
  .item-img {
    width: 25vw;
    height: 25vw;
  }
  .adver,
  .title-item {
    font-size: 1.15vw;
    margin-top: 1.9vw;
  }
  .item {
    margin-top: 2.1vw;
    padding-bottom: 19.65vw;
  }
  .item h3 {
    font-size: 2.85vw;
  }
  .item-var {
    margin-top: 2.5vw;
    padding: 1.9vw 0;
  }
  .item-var .price{
  	font-size: 2.1vw;
  	padding-top: 0.2vw;
  }
  .item-var .prev-price{
  	font-size: 1.15vw;
  	padding-right: 1.15vw;
  	top: -0.7vw;
  }
  .item-var .basket-link a{
  	font-size: 1.15vw;
  	width: 8.6vw;
  	height: 2.5vw;
  }
  .item-var .order-click{
  	font-size: 1.15vw;
  	margin-right: 1.6vw;
  	top: 0.6vw;
  }
  .print,
  .item-info,
  .item-link,
  .other-text{
  	padding: 2.58vw 0;
  	font-size: 1.15vw;
  }
  .print header{
  	margin-bottom: 1.3vw;
  }
  .other-text p:first-child{
  	margin-bottom: 0.7vw;
  	font-size: 1.43vw;
  }
  .item-img img{
  	width: 99%;
  }
  .adver-img,
  .adver,
  .adver-cell{
  	height: 5.65vw;
  }

  /***********  order company  *************/
	.order-company{
		margin-top: 2.85vw;
		padding: 3.25vw 0;
	}
	.face-var{
		margin-bottom: 2.85vw;
		font-size: 1.72vw;
	}
	.face-var li{
		margin-right: 2.1vw;
	}
	.main-input{
		margin: 1.9vw 0;
	}
	.main-input p{
		font-size: 1.15vw;
		width: 18.7vw;
	}
	.main-input input{
		font-size: 1.15vw;
		padding: 0 0.7vw;
		width: 30.5vw;
		height: 3.6vw;
	}
	.main-input .small-input{
		width: 15.78vw;
	}
	.slct{
		width: 30.5vw;
		height: 3.6vw;
		padding-top: 1.15vw;
  		padding-left: 1.45vw;
  		font-size: 1.15vw;
	}
	.drop{
		width: 30.5vw;
	}
		.drop li{
			padding: 0.65vw 1.1vw 0.65vw 1.9vw;
			font-size: 1.15vw;
		}
	.radio{
		font-size: 1.15vw;
		text-indent: 2.1vw;
		margin-bottom: 1.05vw;
		padding: 0.4vw 0;
	}
	.main-input textarea{
		width: 30.5vw;
		font-size: 1.15vw;
		padding: 0 0.7vw;
		padding-top: 0.7vw;
		height: 7.15vw;
	}
	.main-textarea p{
		padding-top: 0.9vw;
	}
	.checkout{
		padding-top: 3.6vw;
		padding-bottom: 7.15vw;
		font-size: 1.42vw;
	}
	.checkout a{
		width: 18.9vw;
		height: 3.6vw;
	}
  /***********  basket  *************/
    .basket-table td{
        padding: 1.6vw 0;
    }
    .basket-img{
        width: 7.5vw;
        height: 7.5vw;
    }
        .basket-img img{
            width: 93%;
        }
    .basket-table h4{
        font-size: 1.72vw;
        margin-bottom: 1.15vw;
    }
    .basket-table .p1{
        font-size: 1.15vw;
        margin-bottom: 0.6vw;
    }
    .basket-table .p2{
        font-size: 1.15vw;
    }
    .amount-block .minus, 
    .amount-block .plus{
        width: 2.5vw;
        height: 2.5vw;
        padding-top: 0.55vw;
        font-size: 1.15vw;
    }
    .amount-block input{
        width: 3.6vw;
        height: 2.5vw;
        font-size: 1.15vw;
    }
    .basket-table .price-today{
        font-size: 1.72vw;
    }
    .basket-table .prev-price{
        font-size: 1vw;
        padding-right: 1vw;
        top: -0.55vw;
    }
    .basket-table .sale-tr td{
        font-size: 1.72vw;
        padding: 1vw 0 !important;
    }
    .basket-table .td-null{
        padding-top: 2.85vw;
    }
    .ar-img{
        width: 7.5vw;
    }
    .basket-table .var-delivery{
        font-size: 1.15vw;
    }
    .basket-table .var-delivery li{
        margin-bottom: 2.1vw;
    }
    .data-tr td{
        padding-top: 3.6vw;
        padding-bottom: 14.35vw;
    }
    .order-data ul{
        width: 26.5vw;
    }
    .order-data ul li{
        font-size: 1.15vw;
        padding: 0.7vw 0;
    }
    .specify{
        width: 26.5vw;
        height: 3.6vw;
        font-size: 1.43vw;
        padding-top: 1vw;
        margin-top: 2.1vw;
        margin-bottom: 2.1vw;
    }
    .one-click{
        font-size: 1.43vw;
        left: 1.75vw;
    }
    /***********  printer  *************/
    .printer-img{
        width: 12.85vw;
        height: 12.85vw;
    }
    .basket-table h4{
        margin-bottom: 2.1vw;
        margin-top: 0.88vw;
    }
    .basket-table .p1{
        margin-bottom: 1vw;
    }
    .print-price{
        font-size: 2vw;
        padding-top: 0.88vw;
    }
    .add-basket{
        width: 8.6vw;
        height: 2.55vw;
        padding-top: 0.55vw;
        margin-top: 2.1vw;
        font-size: 1.15vw;
    }
    .not-available{
        font-size: 1.42vw;
        padding-top: 0.88vw;
    }
    .printer-table .amount-block{
        margin-top: 2.1vw;
    }
    .printer-table + .pagination{
        height: 9.3vw;
    }
    /***********  styles  *************/
    .main-block{
        margin-top: 2.85vw;
        padding-top: 2.55vw;
        font-size: 1.15vw;
    }
    .main-block h2{
        font-size: 2vw;
    }
    .main-block p{
        margin-top: 2.1vw;
        font-size: 1.15vw;
    }
    .main-block ul{
        margin-top: 2.1vw;
        margin-left: 1.3vw;
        font-size: 1.15vw;
    }
    .photo-block{
        margin-top: 2.85vw;
    }
    .photo-img,
    .photo-img img{
        width: 45.8vw;
        height: 26.5vw;
    }
    .signature{
        width: 10vw;
        margin-left: 1.9vw;
        font-size: 1vw;
        padding-top: 0.35vw;
    }
    .save-file{
        margin-top: 3.25vw;
        padding-bottom: 5vw;
    }
    .save-file button{
        font-size: 1.15vw;
    }
    /***********  catalog  *************/
    .filter-table{
        font-size: 1.15vw;
    }
    .select a.slct-other + .drop{
        width: 18.7vw;
    }
    /***********  modal  *************/
   .modal{
        width: 34.5vw;
        margin-left: -17.25vw;
        padding: 3.25vw;
   }
   .modal header{
       font-size: 2vw;
       padding-bottom: 1.5vw;
   }
   .modal form{
      width: 26.5vw;
   }
   .modal input[type="text"]{
      font-size: 1.5vw;
      height: 3.6vw;
      padding: 0 0.7vw;
      margin-top: 1.5vw;
   }
   .modal input[type="submit"]{
      font-size: 1.5vw;
      height: 3.6vw;
      margin-top: 1.5vw;
   }
}
